/* 타이틀영역 */
div#tltle{

    background-image: url(https://images.unsplash.com/photo-1718248028314-c144318686dd?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
    height: 100%;
    min-height: 127px;
    margin-bottom: 40px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}